<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <a href="/create"> Write a blog </a>
    <table border="1" id="blogs">
        <tr><p>Available Blog</p></tr>
        <tr>
            <th>Posted Date</th>
            <th>Name</th>
            <th>Author</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Read now</th>
        </tr>
        <tr th:each="blg : ${blog}">
            <td th:text="${blg.date}"></td>
            <td th:text="${blg.name}"></td>
            <td th:text="${blg.author}"></td>
            <td><a th:href="@{/edit/{id}(id=${blg.id})}" class="btn btn-warning"> Edit </a></td>
            <td><a th:href="@{/delete/{id}(id=${blg.id})}" class="btn btn-danger"> Delete </a></td>
            <td><a th:href="@{/read/{id}(id=${blg.id})}" class="btn btn-primary"> Read </a></td>
        </tr>
    </table>
</div>

</body>
</html>