<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/blog/layout :: head">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1><a href="/blog" class="btn btn-primary" th:text="#{home}"></a></h1>
<div class="container">
    <form th:action="@{/edit}" method="post" th:object="${blog}">
        <input type="hidden" th:field="*{id}">
        <input type="date" th:field="*{date}" id="postDate" hidden>
        <table id="blogs">
            <tr>
                <th th:text="#{author}"></th>
                <td><input type="text" th:field="*{author}" th:value="*{author}"></td>
            </tr>
            <tr>
                <th th:text="#{title}"></th>
                <td><input type="text" th:field="*{name}" th:value="*{name}"></td>
            </tr>
            <tr>
                <th th:text="#{category}"></th>
                <td><select th:field="*{category}">
                    <option th:each="c : ${categories}" th:value="${c.id}"
                            th:text="${c.name}" th:selected="(${blog.category}) and (${c.id} == *{category.id})"></option>
                </select></td>
            </tr>
            <tr>
                <th th:text="#{content}"></th>
                <td><textarea th:field="*{content}" cols="60" rows="10" th:text="*{content}"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" th:text="#{edit}"></button></td>
            </tr>
        </table>
    </form>
</div>
<script>
    document.getElementById("postDate").valueAsDate = new Date();
</script>
</body>
</html>