<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/blog/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="?lang=en">English</a> | <a href="?lang=ger">German</a>
<div class="container">
    <a href="/create/blog" th:text="#{create.blog}" sec:authorize="isAuthenticated()"></a>
    <a href="/create/category"  th:text="#{create.category}" sec:authorize="hasRole('Admin')"></a>
    <a href="/category" th:text="#{category}"></a>
    <a href="/login" th:text="#{login}" sec:authorize="isAnonymous()"></a>
    <a href="/logout" th:text="#{logout}" sec:authorize="isAuthenticated()"></a>
    <div class="row">
        <form>
            <p th:text="#{search}"></p>
            <input type="text" name="search" placeholder="Title here">
            <button type="submit"  th:text="#{search}"></button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <table border="1" id="blogs">
            <tr th:text="#{allblogs}"></tr>
            <tr>
                <th th:text="#{date}"></th>
                <th th:text="#{title}"></th>
                <th th:text="#{author}"></th>
                <th th:text="#{view}"></th>
                <th th:text="#{like}"></th>
                <th th:text="#{category}"></th>
                <th th:text="#{edit}" sec:authorize="isAuthenticated()"></th>
                <th th:text="#{delete}" sec:authorize="isAuthenticated()"></th>
                <th th:text="#{read}"></th>
            </tr>
            <tr th:each="blg : ${blog}">
                <td th:text="${blg.date}"></td>
                <td th:text="${blg.name}"></td>
                <td th:text="${blg.author}"></td>
                <td th:text="${blg.views}"></td>
                <td th:text="${blg.likes}"></td>
                <td th:text="${blg.category.name}"></td>
                <td sec:authorize="isAuthenticated()"><a th:href="@{/edit/{id}(id=${blg.id})}" class="btn btn-warning" th:text="#{edit}"></a></td>
                <td sec:authorize="isAuthenticated()"><a th:href="@{/delete/{id}(id=${blg.id})}" class="btn btn-danger"
                                                         onclick="return confirm('Are you sure you want to remove')" th:text="#{delete}"></a></td>
                <td><a th:href="@{/read/{id}(id=${blg.id})}" class="btn btn-primary" th:text="#{read}"></a></td>
            </tr>
        </table>
        <div>
            <a th:href="@{/blog(page=${blog.number -1})}" th:if="${blog.hasPrevious()}" th:text="#{previous}"></a>
            <span th:text="${blog.number + 1}"></span>/<span th:text="${blog.totalPages}"></span>
            <a th:href="@{/blog(page=${blog.number +1})}" th:if="${blog.hasNext()}" th:text="#{next}"></a>
        </div>
    </div>
    <div class="col-sm-3">
        <table id="cate">
            <tr th:text="#{category}"></tr>
            <tr th:each="cate : ${categories}">
                <th><a th:href="@{/category/{id}(id=${cate.id})}" th:text="${cate.name}"></a></th>
            </tr>
        </table>
    </div>
</div>

</body>
</html>