<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/blog/layout :: head">
    <meta charset="UTF-8">
    <title>Read</title>
</head>
<body>
<h1><a href="/blog" class="btn btn-primary" th:text="#{home}"></a></h1>
<div class="container">
    <p th:text="#{title}+': '+${blog.name}" style="font-weight: bold"></p><br>
    <p th:text="#{title}+': '+${blog.author}" style="font-weight: bold"></p><br>
    <p th:text="#{title}+': '+${blog.date}" style="font-weight: bold"></p><br>
    <p th:text="#{title}+': '+${blog.views}"></p><br>
    <p th:text="#{title}+': '+${blog.likes}"></p><br>
    <p th:text="#{title}+': '+${blog.category.name}"></p>
    <p th:utext="${blog.content}"></p>
</div>
<div class="container">
    <a th:href="@{/read/{id}/like(id=${blog.id})}">Like</a>
    <form method="post" th:object="${comment}">
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{content}">
        <button type="submit" th:text="#{comment}"></button>
    </form>
    <p th:text="#{comment}"></p>
    <table>
        <tr th:each="cmt : ${blog.comments}">
            <td th:text="${cmt.content}"></td>
        </tr>
    </table>
</div>
</body>
</html>